body{
    margin: 0;
    padding: 0;
    background-image: url(OIPO8TJXC27.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*nav bar----------------*/
nav{
    background-color: rgb(33, 37, 37);
    color: lightgray;
    padding: 5px;
    position: fixed;
    width: 100%;
}

li a{
    text-decoration: none;
    color: lightgray;
    padding: 5px 10px;
}

.list a:hover{
    color: rgb(76, 45, 212);
}

.list, .logo, nav ul li{
    display: inline-block;
}


/*isi-------------*/
.isi1{
    height: 400px;
    background-image: url(profile2.jpg);
    background-size: cover;
    background-position: 0 -50px;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid black;
}

.isi{
    background-image: url(profile2.jpg);
    background-size: cover;
    background-position: 0 0px;
    margin: 0;
    padding: 0;
    width: 900px;
    height: 582px;
    margin: auto;
}


.container1{
    background-color: whitesmoke;
    width: 900px;
    height: 582px;
    margin: auto;
}

.container1 h1{
    font-family: Arial, Helvetica, sans-serif   ;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

/* toggle */
.ttg{
    text-decoration: none;

}
.warna{
    background-color: black;
}

/* display */
.none{
    display: none;
}